
MONGO_URI=
PORT=

ACCESS_SECRET_KEY=
ACCESS_TOKEN_EXPIRY=

REFRESH_SECRET_KEY=
REFRESH_TOKEN_EXPIRY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_CLOUD_API_KEY=
CLOUDINARY_CLOUD_API_SECRET=

FRONTEND_URL=

ADMIN_SECRET_CODE=
